@model GestaoTarefas2.Models.Funcionarios

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>
<div class="alert alert-dismissible alert-warning">
    
    <h4 class="alert-heading">Aviso!</h4>
    <p class="mb-0">Tem a certeza que pretende eliminar o registo do funcionario  @Html.DisplayFor(model => model.Nome) @Html.DisplayFor(model => model.SobreNome)? </p>
</div>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SobreNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SobreNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NTelemovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NTelemovel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartamentoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamentos.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargos.NomeCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargos.NomeCargo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FuncionarioId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
