@model IEnumerable<GestaoTarefas2.Models.Funcionarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Funcionarios</h1>

<p>
    <a asp-action="Create">Adicionar Funcionario</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th scope="col">
                SobreNome
            </th>
            <th scope="col">
                Sexo
            </th>
            <th scope="col">
               Nº Telemovel
            </th>
            <th scope="col">
                Email
            </th>

            <th scope="col">Departamento</th>


            <th scope="col">Cargo</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SobreNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NTelemovel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamentos.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargos.NomeCargo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FuncionarioId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.FuncionarioId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.FuncionarioId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
