@model PaginatedList<GestaoTarefas2.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Funcionarios</h1>

<p>
    <a asp-action="Create">Adicionar Funcionario</a>
</p>


<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Pesquisar: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Procurar" class="btn btn-primary" /> |
            <a asp-action="Index">Voltar a lista</a>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Nome</a>
            </th>
            <th scope="col">
                SobreNome
            </th>
            <th scope="col">
                Sexo
            </th>
            <th scope="col">
                Nº Telemovel
            </th>
            <th scope="col">
                Email
            </th>

            <th scope="col">Departamento</th>


            <th scope="col">Cargo</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SobreNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NTelemovel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo.NomeCargo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FuncionarioId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.FuncionarioId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.FuncionarioId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex -1)"
   asp-route-curentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-secondary @prevDisabled">Anterior</a>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-curentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-secondary @nextDisabled">Proxima</a>
