@model IEnumerable<GestaoTarefas2.Models.Cargos>

@{
    ViewData["Title"] = "Index";
}

<h1>Cargos</h1>

<p>
    <a asp-action="Create">Criar novo cargo</a>
</p>

<from asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Procura por Nome: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Procurar" class="btn btn-primary" />
            <a asp-action="Index">Voltar a Lista</a>
        </p>
    </div>
</from>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCargo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CargoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CargoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CargoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
